<%- include ("partials/header") %>
  <section>
    <article class="container">
      <div class="row">
        <div class="col-12">
          <h6>Your URLs</h6>
        </div>
      </div>
      <div class="row" style="margin-bottom:10px">
        <div class="col-2" style="border:1px#f3bfbf;">
          <p>Short URL</p>
        </div>
        <div class="col-4" style="border:1px #f3bfbf;">
          <p>Long URL</p>
        </div>
        <div class="col-2" style="border:1px #f3bfbf;">
          <p>Edit</p>
        </div>
        <div class="col-4" style="border:1px #f3bfbf;">
          <p>Delete</p>
        </div>
      </div>
      <% for(url in urls) { %>
        <% if(user && urls[url]['userID']===user['id']) {%>
          <div class="row">
            <div class="col-2" style="border:1px #f3bfbf; padding:10px;"">
              <p><%= url %></p>
            </div>
            <div class=" col-4" style="border:1px #f3bfbf; padding:10px; ">
              <%= urls[url]['longURL'] %>
            </div>
            <div class="col-2" style="border:1px #f3bfbf; padding:10px;"">
              <a style=" display:inline-block;" href="/urls/<%= `${url}` %>">Edit</a>
            </div>
            <div class="col-4" style="border:1px #f3bfbf;padding:10px;">
              <form method="POST" action="/urls/<%= url %>/delete">
                <input type="submit" value="Delete" />
              </form>
            </div>
          </div>
          <% } %>
            <% }; %>

              <div class="row" style="margin-top:50px;">
                <div class="col-12">
                  <a href="/urls/new">Add a new url</a>
                </div>
              </div>
              <div class="row">
                <div class="col-12">

                </div>
              </div>
    </article>
  </section>